*{
    margin:0px;
    padding:0px;
    text-align: center;
}
body{
	margin-top: 10px;
}
table{
	border-radius: 3em 3em 0em 0em;
	background: powderblue;
    margin: 0 auto;
    font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#000;
	border-width: 2px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table th{
    border-width: 2px;
	padding: 6px;
	text-align: center;
}
table tr td{
    width: 80px;
    border-width: 2px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
}
table tr td:first-child{
    width: 120px;
    border-width: 2px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
}
.jianli_apply {
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 30px;
	background: #a9c6c9;
	margin-top: 20px;
}
.jianli_apply a {
	text-decoration:none;
	font-size: 14px;
	padding: 2px 6px;
	display: block;
	color: #ffffff;
}